@import url(variables.css);
@import url(reset.css);

/************************* GENERAL ****************************/



@media (width >=1450px) {
	.state__container {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		width: fit-content;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: 10px;
		justify-content: center;
	}

	.logo-name-pill {
		font-size: var(--font-size-small);
	}
}

@media (width < 1450px) {
	.state__container {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		width: fit-content;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: 10px;
		justify-content: center;
	}

	.logo-name-pill {
		font-size: var(--font-size-small);
	}
}

/* @media (width < 1300px) {
	.state__container {
		position: absolute;
		top: 120%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		width: fit-content;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: 10px;
		justify-content: center;
	}

	#timer {
		position: absolute;
		top: 75%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translateY(-50%) translateX(-50%);
		overflow: visible;
	}
} */

body {
	background-color: var(--bg-color-main);
	color: var(--text-color-main);
	font-family: var(--font-family-main);
	font-size: var(--font-size-medium);
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: var(--font-size-small);
}

*:focus-visible {
	outline: 4px solid var(--orange-color);
	outline-offset: 5px;
}

/************************** HEADER ****************************/
header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
	padding: 30px 0;

	.header__top {
		display: flex;
		gap: 15px;
		justify-content: space-between;

		.logo {
			align-items: center;
			display: flex;
			gap: 0.5rem;
			position: relative;

			.logo-img {
				width: 3rem;
			}

			.logo-name {
				font-size: clamp(1rem, 2.5vw, 3rem);
				font-weight: 900;
			}

			.logo-name-pill {
				align-items: center;
				background-color: var(--blue-color);
				border-radius: 20px;
				color: var(--bg-color-main);
				display: flex;
				/* font-size: var(--font-size-small); */
				height: 30px;
				justify-content: center;
				padding: 0 15px;
				position: absolute;
				right: -1.5rem;
				top: 50px;
				transform: rotate(-10deg);
				transition: transform 0.3s ease;
				z-index: 3;

				&:hover {
					transform: rotate(0deg);
				}
			}
		}
	}
}

@media (width > 1050px) {
	header {
		width: 95%;
		height: 20vh;
	}
}

@media (width <=1050px) {
	header {
		width: 90%;
		height: 25vh;
	}
}

/*************************** MENU *****************************/
.menu__container {
	position: relative;
	z-index: 2;
}

.btn-menu {
	background: var(--white-color);
	border: 1px solid var(--white-color);
	color: var(--bg-color-main);
	font-size: var(--font-size-small);
	font-weight: bold;
	padding: 0 45px 0 25px;
	position: relative;
	height: 60px;

	&::before {
		border: 1px solid var(--white-color);
		content: "";

		height: 100%;
		position: absolute;
		top: 7px;
		transform: translateX(-15px);
		width: 100%;
		z-index: -1;
	}

	& span {
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%) rotate(180deg);
		fill: #1a1a1a;
	}

	&::after {
		background: var(--white-color);
		bottom: 10px;
		content: "";
		height: 2px;
		position: absolute;
		top: 85%;
		left: 10px;
		transition: width 0.1s ease-in-out;
		width: 0%;
	}

	&:hover::after {
		width: 90%;
	}

	&:active {
		box-shadow: none;
		transform: translate(5px, 5px);

		&::before {
			display: none;
		}
	}
}

@media (width <=1050px) {
	#bigmenu {
		display: none;
	}
}

@media (width > 1050px) {

	#smallmenu,
	#worktime_btn_resp,
	#breaktime_btn_resp,
	#resttime_btn_resp {
		display: none;
	}
}

.menu-content {
	background: var(--bg-color-alt);
	border: 1px solid var(--white-color);
	display: none;
	flex-direction: column;
	padding: 10px;
	position: absolute;
	right: 1px;
	top: 80px;
	transform: translateX(10px);

	&.show {
		display: flex;
	}

	.btn {
		font-size: var(--font-size-small);

		&:hover {
			background-color: var(--white-color);
			color: var(--bg-color-alt);
		}
	}
}

/**************** BOTONES DE ESTADO ***************************/


.btn-state {
	width: 12%;
	min-width: 200px;
	max-width: 250px;
	display: flex;
	justify-content: center;
	border: 2px solid var(--gray-color);
	color: var(--white-color);
	font-size: var(--font-size-xsmall);
	padding: 0 15px;
	background-color: transparent;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px) brightness(80%);

	& img {
		width: 40px;
		padding: .25rem;
		margin: 0 .5rem;
	}
}

/****************** ANIMACIÓN DEL FONDO **********************/
main {
	animation: bg-scrolling-reverse 5s linear infinite;
	background: url("../img/png/bg_dark_pattern.png") repeat;
	background-color: var(--bg-color-main);
	height: fit-content;
}

@keyframes bg-scrolling-reverse {
	from {
		background-position: 0 0;
	}

	to {
		/* Ajustar el tamaño a un múltiplo del patrón */
		background-position: 73px 73px;
	}
}

/********************* POMODORO SECTION ************************/
/********************* POMODORO SECTION ************************/
/********************* POMODORO SECTION ************************/
/********************* POMODORO SECTION ************************/
/********************* POMODORO SECTION ************************/

#pomodoro_section {
	width: 100%;
	height: 75dvh;
	position: relative;
}

#pomodoro_core {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85%;
}

#timer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translateY(-50%) translateX(-50%);
}

.circle-container {
	position: absolute;
	top: 50%;
	right: 50%;
	width: 100%;
	height: 100%;
	transform: translateY(-50%) translateX(50%);
	overflow: hidden;
}

#pomodoro_bottom {
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
	background-color: var(--blue-color);
}

#clock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: .25rem;
	position: absolute;
	width: calc((var(--segment_height)*3 + var(--segment_width)*2)*3);
	width: calc((var(--segment_width)*4) + var(--segment_height*8));
	height: calc(var(--segment_height)*3 + var(--segment_width)*2);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*background-color: #f7f7f715;
	background-color: #f7f7f70a;*/

}

#minutes {
	position: relative;
	width: 45%;
	height: 100%;
}

#seconds {
	position: relative;
	width: 45%;
	height: 100%;
}

#minutes,
#seconds {
	visibility: visible;
	opacity: 1;

	& div span {
		border-radius: .5rem .25rem .5rem .25rem;
	}

	& .a,
	.b,
	.c,
	.d,
	.e,
	.f,
	.g,
	#separator,
	#separator_two {
		display: block;
		position: absolute;
		background-color: var(--clock_color);
	}

	& .a {
		width: calc(var(--segment_width));
		height: calc(var(--segment_height));
		left: var(--segment_height);
		top: 0;
	}

	& .b {
		top: var(--segment_height);
		left: 0;
	}

	& .c {
		top: var(--segment_height);
		left: calc(var(--segment_height) + var(--segment_width));
	}

	& .d {
		top: calc(var(--segment_height) + var(--segment_width));
		left: var(--segment_height);
	}

	& .e {
		top: calc(var(--segment_height)*2 + var(--segment_width));
		left: 0px;
	}

	& .f {
		top: calc(var(--segment_height)*2 + var(--segment_width));
		left: calc(var(--segment_height) + var(--segment_width));
	}

	& .g {
		top: calc(var(--segment_height)*2 + var(--segment_width)*2);
		left: var(--segment_height);
	}

	& .horizontal {
		width: var(--segment_width);
		height: var(--segment_height);
	}

	& .vertical {
		width: var(--segment_height);
		height: var(--segment_width);
	}

	& .novisible {
		opacity: .08;
		transition: visibility .5s, opacity .3s ease-in;
	}
}

#first_minutes,
#second_minutes,
#first_seconds,
#second_seconds,
#separator,
#separator_two {
	position: absolute;
	top: 0;
}


#first_minutes {
	position: absolute;
	width: 50%;
	height: 100%;
	/*right: 40%;*/
	left: var(--segment_height);
}

#second_minutes {
	position: absolute;
	width: 50%;
	height: 100%;
	left: calc(var(--segment_height) + var(--segment_width) + 20%);
}

#first_seconds {
	position: absolute;
	width: 50%;
	height: 100%;
	left: var(--segment_height);
}

#second_seconds {
	position: absolute;
	width: 50%;
	height: 100%;
	left: calc(var(--segment_height) + var(--segment_width) + 20%);
}

#separator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--clock_color);
	top: calc(var(--digits_space)*.25);
	left: calc(var(--digits_space)*2.25);
	top: 40%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#separator_two {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--clock_color);
	top: calc(var(--digits_space)*1.25);
	left: calc(var(--digits_space)*2.25);
	top: 65%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}




/************* TABS DE ESTADISTICAS Y TAREAS ******************/
.tabs {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	width: fit-content;
	justify-content: start;
	gap: .5rem;
}

.tabs button {
	border: 2px solid var(--white-color);
	z-index: 1;
}

.tabs button::after {
	background: var(--white-color);
	bottom: 7px;
	content: "";
	display: block;
	height: 2px;
	position: relative;
	transition: width 0.1s ease-in-out;
	width: 0%;
}

.tabs button:hover::after {
	width: 100%;
}

#tab-tasks-resp,
#tab-statistics-resp {
	display: none;
}

.progress-ring {
	overflow: visible;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.progress-ring__circle {
	z-index: 2;
	stroke: var(--blue-color);
	/* Color del stroke */
	stroke-dasharray: 314.16;
	/* Longitud total del perímetro del círculo */
	stroke-dashoffset: 314.16;
	/* Empieza con stroke completamente oculto */
	transition: stroke-dashoffset .6s ease-out;
	/* Transición suave */
	stroke-linecap: round;
	/* Bordes redondeados */

}

.out-ring__circle {
	stroke: var(--blue-color);
	/* Color del stroke */
	stroke-dasharray: 314.16;
	/* Longitud total del perímetro del círculo */
	stroke-dashoffset: 314.16;
	/* Empieza con stroke completamente oculto */
	transition: stroke-dashoffset 0.3s linear;
	/* Transición suave */
	stroke-linecap: round;
	/* Bordes redondeados */
	opacity: 1;
}

.in-ring__circle {
	stroke: var(--blue-color);
	/* Color del stroke */
	stroke-dasharray: 314.16;
	/* Longitud total del perímetro del círculo */
	stroke-dashoffset: 314.16;
	/* Empieza con stroke completamente oculto */
	transition: stroke-dashoffset 0.3s linear;
	/* Transición suave */
	stroke-linecap: round;
	/* Bordes redondeados */
	opacity: 1;
}


/**************************************************************/
/************* ESTILOS GENERALES PARA VENTANAS ****************/
/**************************************************************/
.window-container {
	background: var(--bg-color-main);
	border: 1px solid var(--white-color);
}

.window-container header {
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	background-color: var(--bg-color-main);
	border-bottom: 1px solid var(--white-color);
	cursor: grab;
	-webkit-user-select: none;
	user-select: none;
}

.window-container header h2 {
	color: var(--text-color-main);
	font-size: var(--font-size-xsmall);
}

.window-controls {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: start;
	gap: 5px;
	width: 100%;

	& button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		aspect-ratio: 1/1;
		font-size: var(--font-size-xsmall);
		color: var(--white-color);
		background-color: var(--bg-color-main);
	}
}

.window-control {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--white-color);
	cursor: pointer;
	font-size: var(--font-size-xsmall);
	line-height: 1.2;
	background-color: var(--bg-color-main);
	opacity: 0.4;
}

.window-control:hover {
	background-color: var(--bg-color-alt);
	opacity: 0.8;
}

/**************************************************************/
/*********************** LISTA DE TAREAS **********************/
/**************************************************************/

/* Task container */
#tasks {
	width: 250px;
	position: absolute;
	top: 25%;
	left: 25%;
}

/* add-task form*/
#add-task {
	width: 100%;
	padding: 0 10px;
	margin-bottom: 10px;
}

#add-task label {
	font-size: var(--font-size-xsmall);
	line-height: normal;
	padding: 5px;
}

#add-task input {
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 5px;
	border-radius: 9px;
	font-size: var(--font-size-xxsmall);
	color: var(--bg-color-main);
	opacity: 0.8;
}

#add-task input:focus,
#add-task input:active {
	outline: none;
	opacity: 1;
}

#add-task #task-finish {
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-left: 5px;
}

#add-task label[for="task-finish"] {
	vertical-align: middle;
	font-size: var(--font-size-xxsmall);
}

.form_buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form_buttons button {
	padding: 0 15px;
	border: 1px dashed var(--white-color);
	border-radius: 9px;
	opacity: 0.32;
	cursor: pointer;
	font-size: var(--font-size-xxsmall);
	margin-bottom: 5px;
}

.form-submit {
	background-color: var(--green-color);
}

.form-cancel {
	background-color: var(--red-color);
}

.form_buttons button:hover {
	opacity: 0.8;
}

/* Task Item */
.task {
	height: 40px;
	padding: 10px;
	margin: 10px;
	border: 1px solid var(--white-color);
	border-radius: 9px;
	cursor: grab;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color-main);
}

.task.dragging {
	opacity: 0.5;
}

.task-text {
	font-size: var(--font-size-xxsmall);
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	text-overflow: ellipsis;
}

.task-finished {
	opacity: 0.3;
}

.task-finished span::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 90%;
	height: 2px;
	background-color: var(--white-color);
}

.task-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
}

.task-buttons button {
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 0;
	border-radius: 4px;
	cursor: pointer;
	opacity: 0.7;
}

.task-buttons button:hover {
	opacity: 1;
}

.task-buttons button.edit {
	background-color: var(--blue-color);
}

.task-buttons button.finish {
	background-color: var(--green-color);
}

.task-buttons button.delete {
	background-color: var(--red-color);
}

/* New Task item */
#new-task {
	padding: 5px;
	margin: 10px;
	border: 1px dashed var(--white-color);
	background-color: var(--bg-color-alt);
	border-radius: 9px;
	text-align: center;
	cursor: pointer;
	opacity: 0.4;
	font-size: var(--font-size-xsmall);
	font-weight: bold;
}

#new-task:hover {
	opacity: 0.7;
}

#new-task span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-left: 20px;
	border-radius: 50%;
	font-weight: 300;
	background-color: var(--white-color);
	color: var(--bg-color-main);
	text-align: center;
	line-height: 1.2;
	font-size: var(--font-size-medium);
}

/* Task Delete confirm */
#task-deleteConfirmation {
	padding: 10px;
}

#task-deleteConfirmation p {
	font-size: var(--font-size-xxsmall);
	line-height: 1.7;
}

#task-delete-name {
	font-size: var(--font-size-xxsmall);
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#task-deleteConfirmation div {
	margin-top: 10px;
}

#more-items {
	position: relative;
	text-align: end;
	line-height: 0.5;
	justify-content: center;
	margin-right: 10px;
	top: -10px;
}

/**************************************************************/
/********************* FOOTER ********************************/
/************************************************************/

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-block: 3rem;
	position: relative;
	width: 100%;
}

footer .container {
	width: 100%;
	display: flex;
	justify-content: center;
}

footer .container .container__left {
	display: flex;
	width: 50%;
	flex-direction: column;
	padding: 1rem;
}

footer .container .container__right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 1rem;
	gap: 0.5rem;
}

footer .container .container__right a {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

footer .container .container__right a p {
	font-size: var(--font-size-xsmall);
}

footer .container .container__left .logo {
	width: fit-content;
}

footer .container .container__left .description {
	font-size: var(--font-size-regular);
	font-weight: 700;
}

footer .container .container__left .subcontainer__links {
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 2rem;
}

footer .container .container__left .subcontainer__links .links__moure .moure__rrss {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	padding: 0.5rem;
}

footer .container .container__left .subcontainer__links .btn-participe {
	font-size: var(--font-size-regular);
	width: fit-content;
	font-weight: 500;
	cursor: pointer;
	padding-inline-start: 1rem;
	padding-inline-end: 1rem;
	white-space: nowrap;
	transition: transform 0.05s ease;
	color: #f7f7f7;
	border: 1px solid #f7f7f7;
	box-shadow: 4px 4px 0px 0px #f7f7f7;
	background: #1a1a1a;
}

footer .container .container__left .subcontainer__links .btn-participe:active {
	color: #f7f7f7;
	background: #1a1a1a;
	box-shadow: none;
	transform: translate(3px, 3px);
}

footer .container .container__left .subcontainer__links .links__githubs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

footer .container .container__left .subcontainer__links .links__githubs .github-link {
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer .container .container__left .subcontainer__links .links__githubs .github-link p {
	font-size: var(--font-size-xxsmall);
	line-height: 0.75rem;
	font-weight: 700;
	margin-top: 0.5rem;
	padding: 0 0.2rem;
	border-radius: 1rem;
	color: var(--bg-color-main);
}

footer .container .container__left .subcontainer__links .links__githubs .github-link .links__swift {
	background-color: var(--blue-color);
}

footer .container .container__left .subcontainer__links .links__githubs .github-link .links__kotlin {
	background-color: var(--green-color);
}

footer .container .container__left .subcontainer__links .links__githubs .github-link .links__web {
	background-color: var(--yellow-color);
}

footer .final-text {
	font-size: var(--font-size-xsmall);
	font-weight: 700;
	text-align: center;
	margin-top: 2rem;
}

footer .background-text {
	width: 100%;
	position: absolute;
	bottom: 0px;
	margin: -3rem auto;
	z-index: -9999;
}

#pomouredevpro {
	width: 100%;
	filter: brightness(10) contrast(1);
}

/************************************************************/
/********************* BOTONES TIMER ************************/
/************************************************************/

.container-timer-buttons {
	width: 50%;
	padding: 20px;
	background-color: var(--blue-color);
	display: flex;
	gap: 64px;
	justify-content: center;
	align-items: center;
}

.timer-button {
	font-size: var(--font-size-medium);
	color: var(--bg-color-main);
	text-align: center;
	width: 50%;
	border-radius: .15rem;
	box-shadow: 4px 4px 0px var(--bg-color-main);
	border: 1px solid var(--bg-color-main);
}

.start {
	background-color: var(--yellow-color);
	transition: all .3s ease-in-out;
	position: relative;
}


.pause {
	background-color: var(--blue-color);
	transition: all .3s ease-in-out;
}

.reset {
	background-color: var(--purple-color);
	display: none;
}

.active {
	box-shadow: 2px 2px 0px var(--bg-color-main);
	color: var(--text-color-main);
	transform: translateX(3px) translateY(2px);
	transition: all .3s ease-in-out;
}

/**************************************************************/

/************************************************************/
/********************* SECCION POMODORO ************************/
/************************************************************/

.pomodoro-description {
	width: 100%;
	height: fit-content;
	background-color: var(--bg-color-main);
	position: relative;
}

.pomodoro-description .key-new {
	position: absolute;
	top: 50px;
	left: 100px;
	transform: rotate(-20deg);

	@media (width < 1200px) {
		display: none;
	}
}

.pomodoro-description .key-new:hover {
	transform: rotate(-10deg);
	transition: transform 0.2s ease;
}

.pomodoro-description .key-enter {
	position: absolute;
	top: -60px;
	right: 180px;
	transform: rotate(25deg);

	@media (width < 1200px) {
		display: none;
	}
}

.pomodoro-description .key-enter:hover {
	transform: rotate(15deg);
	transition: transform 0.2s;
}

.pomodoro-description .container {
	width: 80%;
	margin: 0 auto;
	padding-block: 5rem 3.5rem;
}

.pomodoro-description .container .container__title,
.comunity-description .container .container__title {
	font-size: var(--font-size-xxlarge);
	font-weight: 800;
	text-align: left;
	padding-bottom: 2rem;
	line-height: 2.5rem;
}

.pomodoro-description .container .container__description,
.comunity-description .container .container__description {
	font-size: var(--font-size-regular);
	letter-spacing: 0.01rem;
}

/**************************************************************/

.comunity-description {
	width: 100%;
	position: relative;
	color: var(--bg-color-main);
	font-weight: 800;
	background-color: var(--blue-color);
}

.comunity-description .container {
	padding: 8rem 8rem 5rem;
}

.comunity-description .container__description {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--bg-color-alt);
	font-weight: 600;
}

.comunity-description .container__description p {
	font-size: var(--font-size-regular);
	letter-spacing: 0.01rem;
}

.folder,
.folder-pill,
.certificate {
	position: absolute;
}

.folder {
	left: 190px;
	top: 60px;
}

.folder-pill {
	left: 55px;
	top: 140px;
	scale: 0.5;
	background-color: var(--orange-color);
	padding: 5px 1rem;
	border-radius: 1rem;
}

.certificate {
	right: 190px;
	top: 110px;
	scale: 2.5;
	transform: rotate(-10deg);
}

/************************************************************/
/********************* STATUS WINDOWS ************************/
/************************************************************/

.status-container {
	border: 1px solid var(--white-color);
	width: 250px;
	/*tamaño cuadrado ancho*/
	background-color: var(--bg-color-main);
	position: absolute;
	right: 32px;
	bottom: 32px;
	display: none;
}

.status-header {
	/* titulo*/

	background-color: var(--bg-color-main);
	border-bottom: 1px solid var(--white-color);
	padding: 4px 16px;
	/*Separa el titulo del borde*/
	display: flex;
	/*cuadrados pequeños*/
	justify-content: space-between;
	/*mantiene los cuadrados a la derecha*/
}

.status-title {
	color: var(--text-color-main);
	font-size: var(--font-size-xsmall);
}

.buttons {
	display: flex;
	gap: 5px;
	/* espacio entre los botones x, -, + */
	justify-content: center;
	align-items: center;
}

.status-control {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--white-color);
	cursor: pointer;
	font-size: var(--font-size-xsmall);
	line-height: 1.2;
	background-color: var(--bg-color-main);
	opacity: 0.4;
}

.status-control:hover {
	background-color: var(--bg-color-alt);
	opacity: 0.8;
}

.status-content {
	padding: 4px 16px;
}

.status-content p,
.status-content span {
	font-size: var(--font-size-xsmall);
	/* Tamaño letra items*/
	font-weight: 500;
	/* Negrita*/
}

/************************************************************/
/****************** STATISTICS WINDOW ***********************/
/************************************************************/
#statistics {
	width: 25%;
	min-width: 400px;
	position: absolute;
	top: 60vh;
	left: 20%;
	transform: translateX(-50%);
	z-index: 3;
	display: none;
}

#statistics-table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#statistics-table th:nth-child(1)

/* Task */
	{
	width: 40%;
}

#statistics-table th:nth-child(2),
#statistics-table th:nth-child(3),
#statistics-table th:nth-child(4) {
	width: 13%;
}

#statistics-table tr:nth-child(5)

/* Date */
	{
	width: fit-content;
}

#statistics-table th,
#statistics-table td {
	font-size: var(--font-size-xxsmall);
	border: 1px solid var(--white-color);
	text-align: center;
	line-height: 1.2rem;
	opacity: 0.5;
}

#statistics-table td:nth-child(1) {
	text-align: left;
}

#statistics-table td {
	padding-left: 5px;
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/************* RESPONSIVE ******************/
@media (width <=1050px) {
	body {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.logo-name {
		z-index: 2;
	}

	.logo-name-pill {
		align-items: center;
		background-color: var(--blue-color);
		border-radius: 20px;
		color: var(--bg-color-main);
		display: none;
		font-size: var(--font-size-xsmall);
		/* width: 40px; */
		height: 20px;
		justify-content: center;
		padding: 0 15px;
		position: absolute;
		right: -1.25rem;
		top: 30px;
		z-index: 1;
		transform: rotate(-10deg);
		transition: transform 0.3s ease;
	}

	.btn-menu {
		display: none;
	}

	#smallmenu {
		display: block;
	}

	.state__container {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		margin: 1rem 0 0;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}

	.btn-state {
		font-size: var(--font-size-xsmall);
		line-height: 1rem;

		& img {
			width: 1.25rem;
			margin: 0;
		}
	}

	#worktime_btn,
	#breaktime_btn,
	#resttime_btn {
		display: none;
	}

	#worktime_btn_resp,
	#breaktime_btn_resp,
	#resttime_btn_resp {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--gray-color);
		background-color: transparent;
		border-radius: 0rem;
		font-size: var(--font-size-xsmall);
		border: 2px solid var(--gray-color);
		width: 30%;
		min-width: 90px;
		height: 1.5rem;
		gap: .25rem;

		& .active {
			border: 2px solid salmon;
		}
	}

	.tabs {
		position: absolute;
		top: 20px;
		left: 0;
		margin: 15px 0 0 15px;
		display: flex;
		flex-direction: column;

		& button {
			font-size: var(--font-size-xsmall);
			padding: .25rem;
			border-radius: 0rem;
			border: 0;
			background-color: var(--gray-color);
			background-color: transparent;
			border: 2px solid var(--gray-color);
		}

		& #tab-tasks,
		#tab-statistics {
			display: none;
		}

		& #tab-tasks-resp,
		#tab-statistics-resp {
			display: flex;
			margin: 3px;
		}
	}

	main>section {
		width: 100%;
		overflow: hidden;
	}

	#timer {
		position: relative;
	}

	.circle-container {
		position: absolute;
		width: 95%;
		overflow: visible;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) scale(0.7);
	}

	.progress-ring {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) scale(.7) rotate(-90deg);
	}

	#clock {
		position: absolute;
		width: calc((var(--segment_width)*4) + var(--segment_height*8));
		height: calc(var(--segment_height)*3 + var(--segment_width)*2);
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) scale(0.50);
	}

	#first_minutes,
	#second_minutes,
	#first_seconds,
	#second_seconds,
	#separator,
	#separator_two {
		position: absolute;
		top: 0;
	}


	#separator {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: var(--clock_color);
		top: calc(var(--digits_space)*.5);
		left: calc(var(--digits_space)*2.2);
	}

	#separator_two {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: var(--clock_color);
		top: calc(var(--digits_space)*1);
		left: calc(var(--digits_space)*2.2);
	}

	#pomodor_bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#clock span {
		font-size: var(--font-size-xxlarge);
	}

	#container-timer-buttons {
		padding: 1rem;
		gap: 0.5rem;
		width: 90%;
	}

	.timer-button {
		width: 50%;
	}

	#tasks {
		width: 80%;

		left: 10%;
		top: 20%;
		z-index: 99;

		& header,
		#task-list,
		form {
			width: 100%;
		}

		& #task-list {
			margin-bottom: 1rem;
		}

		& #new-task {
			margin: 1rem 1rem;
		}
	}

	.pomodoro-description,
	.comunity-description {
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.pomodoro-description,
	.comunity-description {
		width: 100%;

		& .certificate {
			right: 10px;
			top: 10px;
			scale: 1.15;
			transform: rotate(-10deg);
		}

		& .folder {
			left: 20px;
			top: -30px;
			transform: rotate(-10deg);
		}

		& .folder-pill {
			display: none;
		}

		& .container {
			padding: 1rem 0;
			margin: 0;
			width: 80%;

			& .container__title {
				margin-top: 70px;
				width: 100%;
				padding: 1rem 0;
				/* text-align: center; */
				font-size: var(--font-size-xlarge);
			}

			& .container__description {
				margin: 1rem 0;
				padding: 0;
				width: 100%;

				& p {
					width: 100%;
					font-size: var(--font-size-small);
				}
			}
		}
	}

	footer {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;

		& .container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			& .container__left {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				& p.description {
					text-align: center;
					font-size: var(--font-size-xsmall);
				}

				& .subcontainer__links {
					flex-direction: column;
					text-align: center;

					& .links__moure .btn-participe {
						width: fit-content;
						font-size: var(--font-size-xsmall);
					}
				}
			}
		}
	}

	.container__right {
		overflow: hidden;
	}
}